<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment/fragments :: head"></head>
<body>
<!-- Line chart -->
<div class="container">
    <div class="check">
        <a class="btn btn-outline-success" id="btn-check" href=""> Check </a>
    </div>

    <div class="line-chart">
        <canvas id="mycanvas">

        </canvas>
        <canvas id="mycanvas1">

        </canvas>
    </div>

</div>

<!-- FOOTER -->
<footer th:replace="fragment/fragments :: footer"></footer>

</body>
</html>
